img {
	max-width: 100%;
	height: auto;
}
body {
	background-image: url("images/DiamondPlate.png");
	background-size: 550px 500px;
	background-repeat: repeat;
	font-family: helvetica;
}
ul {
	list-style-type: none
}
h1{
	font-family: Arial Black,Arial Bold,Gadget,sans-serif; 
	color: white;
	color: #fff;
    text-shadow: 3px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
h2{
	color: white;
	color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

h3{
	color: white;
	color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
span{
	border-bottom: 3px solid #fff;
}

.inline{
	display: inline-block;
}
.left{
	text-align: left;
}
.body-box{
	background-color: #fff;
	height: 100%;
}
.logo img{
	vertical-align: -webkit-baseline-middle;
	margin-top: 10px;
	margin-bottom: 10px;
}
.lower-body{
	max-width: 1100px;
}
.banner{
	background-color: #666;
	height: 60px;
	margin-top: 10px
}
.banner ul{
	margin: 0px;
	padding-left: 0px;
}
.banner li{
	display: inline-block;
	color: #fff;
	width: 18%;
}
.contact-map{
	margin-top: 20px;
	box-shadow: 0px 10px 10px #888888;
	background: #7d7e7d;
	background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%);
	background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
	background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
}
.contact{
	vertical-align: top;
}
.contact div{
	vertical-align: inherit;
}
.contact a{
	color: inherit;
}
.map{
	margin-top: 10px;
	margin-bottom: 15px;
}
.clickable{
	text-decoration: underline;
}
.services{
	margin-bottom: 20px;
}
.services p{
	font-size: 30px;
	margin-bottom: 15px;
}
.border{
	display: block;
	height: 2px;
	margin-bottom: 15px;
	background: #0e0e0e;
	background: -moz-radial-gradient(center, ellipse cover,  #0e0e0e 31%, #ffffff 71%);
	background: -webkit-radial-gradient(center, ellipse cover,  #0e0e0e 31%,#ffffff 71%);
	background: radial-gradient(ellipse at center,  #0e0e0e 31%,#ffffff 71%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#ffffff',GradientType=1 );
}
.services ul{
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: top;
}
.services li{
	margin-bottom: 10px;
	list-style-type: circle;
}
.footer{
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #bfbfbf;

}
.footer-inner{
	margin: 0 auto;
	width: 80%;
}
.footer-inner div{
	vertical-align: top;
}
.footer p{
	color: #000;
	text-align: left;
	vertical-align: top;
	font-size: 20px
}
.footer img{
	width: 190px;
	float: right;
}
.clearfix:before, .clearfix:after {display: table;content: "";}
.clearfix:after {clear: both;}
.center {text-align: center; margin: 0 auto;}
 

 /* Grid */
.col {
border:0px solid black;
float:left;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
-moz-background-clip:padding-box !important;
-webkit-background-clip:padding-box !important;
background-clip:padding-box !important;
}

.col {margin-left:2%;padding:0 1.5%;}
.row .col:first-child {margin-left:0;}
.span_1 {width:6.5%;}
.span_2 {width:15.0%;}
.span_3 {width:23.5%;}
.span_4 {width:32.0%;}
.span_5 {width:40.5%;}
.span_6 {width:49.0%;}
.span_7 {width:57.5%;}
.span_8 {width:66.0%;}
.span_9 {width:74.5%;}
.span_10 {width:83.0%;}
.span_11 {width:91.5%;}
.span_12 {margin-left:0;width:100%;}

@media screen and (min-width: 0px) and (max-width: 320px) {
.mo_full {width:100%;margin-left:0px}
.mo_full2 {width:80%;margin-left:0px}
.nomo {display: none;}
body{background-image: none; background-color: #000}
.logo{background-color: #d9d9d9}
.footer p {font-size: 14px;}
}

@media screen and (min-width: 321px) and (max-width: 599px) {
.mo_full {width:100%;margin-left:0px}
.mo_full2 {width:80%;margin-left:0px}
.nomo {display: none;}
body{background-image: none; background-color: #000}
.banner li {font-size: 11px}
.logo{background-color: #d9d9d9}
.footer p {font-size: 14px;}
}

@media screen and (min-width: 600px) and (max-width: 767px) {
.nomo {display: none;}
body{background-image: none; background-color: #000}
.logo{background-color: #d9d9d9}
}

@media screen and (min-width: 600px) and (max-width: 930px){
.mo_full {width:100%;margin-left:0px}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
.shomo {display: none;}
.clickable{text-decoration: none;}
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
.shomo {display: none;}
.clickable{text-decoration: none;}
}

@media screen and (min-width: 1280px) {
.shomo {display: none;}
.clickable{text-decoration: none;}
}


